body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  header {
    max-width: 60em;
    margin: 0 auto;

    .home-header {
      text-decoration: none;
      color: inherit;
    }

    .login-header {
      float: right;
      text-decoration: none;
      color: inherit;
    }
    .login-header:hover {
      text-decoration: underline;
    }
  }

  main.container{
    max-width: 60em;
    margin: 0 auto;

    .home-page-tabs {
      border-bottom: 1px solid lightgray;
      padding: 0.5em 2em;

      a[href] {
        padding: 1ex 2em;
        position: relative;
        bottom: -2px;
        text-decoration: none;
        color: gray;

        &.active {
          border: 1px solid lightgray;
          border-bottom-color: white;
          border-top: 2px solid gray;
        }
      }
    } // END home-page-tabs

    .home-page-questions {
      ul.popular-questions{
        list-style-type: none;
        border-bottom: 1px solid gray;

        li.q-vote {
          padding: 5px;
          margin-right: 10px;

          i.fa-arrow-up.active{
            color: orange;
          }
          i.fa-arrow-down.active{
            color: dodgerblue;
          }
        }

        li {
          display: inline-block;

          h3 > a[href] {
            color: black;
          }
          h3 > a[href]:hover {
            text-decoration: underline;
          }
          a[href] {
            text-decoration: none;
            color: gray;
          }
        } // END li
        li.q-title p {
            color: gray;
            font-size: 10px;
        }
      } //END popular-questions
    } // END home-page-questions
    #question-form {
      width: 90%;
      margin-left: 10%;
      margin-right: 10%;
      margin-top: 30px;

      label.q-title, textarea, .q-post {
        display: block;
        margin-bottom: 20px;
      }

      label.q-title > input {
        width: 80%;
        padding: 5px 0;
      }

      textarea {
        width: 80%;
        height: 200px;
        margin-left: 37px;
      }

      button.q-post {
        margin-left: 37px;
      }

    } // END question-form

    .panel {
      display: none;

      &.active {
        display: inherit;
      }
    } // END panels
  }
}
*, *:after, *:before {
  box-sizing: border-box;
}
